
# Datasets
src/data/processed/test/model1/*
src/data/processed/test/model2/*
src/data/processed/train/model1/*
src/data/processed/train/model2/*
src/data/raw/model1/*
src/data/raw/model2/*
src/transformers/__tests__/test_data/*
src/data_manipulation/__tests__/test_data*


# Visualized Output
src/visualization/audio/predicted_audio/*
src/visualization/audio/trained_audio/*
src/visualization/fourier_and_back_trial/audio/*
src/visualization/spectrograms/outputs/*
src/visualization/freq_time_analysis_trial/*
src/visualization/midi_to_piano_roll_and_back_trial/outputs/*
src/visualization/midi_to_piano_roll_and_back_trial/data/*
src/visualization/midi/predicted_midi/*

# Testing Audio
src/test_audio


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg




# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover



# DotEnv configuration
.env

# Database
*.db
*.rdb



# VS Code
.vscode/


# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store
.idea
__pycache__

# vim
*.swp
*.swo

# venv
venv/