
# Datasets

src/data/*
src/transformers/__tests__/test_data/*

# Models

src/models/trained_models/*


# Visualized Output

src/visualization/predicted_audio/*
src/visualization/trained_audio/*
src/visualization/fourier_and_back_trial/audio/*
src/visualization/spectrograms_visualized/outputs/*
src/visualization/trained_audio/first success
src/visualization/A Classic Education - Nightowl

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg




# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover



# DotEnv configuration
.env

# Database
*.db
*.rdb



# VS Code
.vscode/


# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store
.idea
__pycache__

# vim
*.swp
*.swo

# venv
venv/